# Prepare Rasters as Features

In [17]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [35]:
import os
import json
import numpy as np
import pickle
import pandas as pd
import geopandas
import matplotlib.pyplot as plt
from region_new import Region
from ml.prepare_raster_features import *
from lclu.constant import lcz_cmap, lcz_hight

## Testing on Ordu, adding ntl

In [36]:
cities = [
    'Ordu'
    ]
variables = [
    'ntl'
    ]

In [68]:
# load city
dump_path = os.path.join("data","ml", "Ordu.pkl")
with open(dump_path, 'rb') as f:     
    ordu = pickle.load(f)
ordu.drop(['index_right', 'ntl'], inplace=True, axis=1)
ordu.head()

,height,orient,type_level_0,density,area,source,geometry,type_level_1,type_level_2
0,3.0,57.0,NaN,1,589.724363,OSM,"POLYGON ((37.85878 41.01506, 37.85899 41.01504...",NaN,NaN
1,3.0,125.0,religious,1,517.641569,OSM,"POLYGON ((37.85890 41.01424, 37.85909 41.01425...",religious,others
2,3.0,52.0,Other buildings,1,150.135975,OSM,"POLYGON ((37.86598 41.00785, 37.86600 41.00785...",residential,residential
3,3.0,67.0,Other buildings,1,907.775199,OSM,"POLYGON ((37.86608 41.00655, 37.86608 41.00655...",residential,residential
4,3.0,41.0,Other buildings,1,1869.903589,OSM,"POLYGON ((37.86631 41.00708, 37.86631 41.00708...",residential,residential

In [69]:
prepare_raster_features(cities, variables)

In [70]:
dump_path = os.path.join("data","ml", "Ordu.pkl")
with open(dump_path, 'rb') as f:     
    ordu = pickle.load(f)
ordu.head()

,height,orient,type_level_0,density,area,source,geometry,type_level_1,type_level_2,index_right,ntl
0,3.0,57.0,NaN,1,589.724363,OSM,"POLYGON ((37.85878 41.01506, 37.85899 41.01504...",NaN,NaN,NaN,NaN
1,3.0,125.0,religious,1,517.641569,OSM,"POLYGON ((37.85890 41.01424, 37.85909 41.01425...",religious,others,203.0,10.014004
2,3.0,52.0,Other buildings,1,150.135975,OSM,"POLYGON ((37.86598 41.00785, 37.86600 41.00785...",residential,residential,299.0,17.806099
3,3.0,67.0,Other buildings,1,907.775199,OSM,"POLYGON ((37.86608 41.00655, 37.86608 41.00655...",residential,residential,299.0,17.806099
4,3.0,41.0,Other buildings,1,1869.903589,OSM,"POLYGON ((37.86631 41.00708, 37.86631 41.00708...",residential,residential,299.0,17.806099